.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git
.envs/

# Frontend build artifacts / dependencies
node_modules/
martina_bescos_app/static/css/output.css


