volumes:
  martina_bescos_app_local_postgres_data: {}
  

services:
  django: &django-base
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: martina_bescos_app_local_django
    container_name: martina_bescos_app_local_django
    depends_on:
      - postgres
      - mailpit
      - redis
    volumes:
      - .:/app:z
      - ./backups:/backups
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - '8000:8000'
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: martina_bescos_app_production_postgres
    container_name: martina_bescos_app_local_postgres
    volumes:
      - martina_bescos_app_local_postgres_data:/var/lib/postgresql/data
      - ./backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  mailpit:
    image: docker.io/axllent/mailpit:latest
    container_name: martina_bescos_app_local_mailpit
    ports:
      - "8025:8025"

  redis:
    image: docker.io/redis:6
    container_name: martina_bescos_app_local_redis
    ports:
      - "6379:6379"

  huey_consumer:
    <<: *django-base
    image: martina_bescos_app_local_django
    container_name: martina_bescos_app_local_huey_consumer
    depends_on:
      - postgres
      - redis
    ports: []
    command: /app/compose/local/django/start-huey
    environment:
      - DJANGO_HUEY_IMMEDIATE=False
