{% load static i18n %}
<div class="navbar bg-base-100 shadow-lg">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="https://www.youtube.com">
            <i class="fab fa-youtube text-2xl text-red-600"></i>
        </a>
        <a class="btn btn-ghost" href="#">
            <img src="{% static 'images/icons/live-music.png' %}" alt="Live Music" class="w-8 h-8">
        </a>
    </div>
    
    <div class="navbar-center">
        <div class="flex space-x-2">
            <button class="btn btn-circle btn-outline btn-success">
                <i class="fas fa-arrow-up text-lg"></i>
            </button>
            <button class="btn btn-circle btn-outline btn-warning">
                <i class="fas fa-equals text-lg"></i>
            </button>
            <button class="btn btn-circle btn-outline btn-error">
                <i class="fas fa-arrow-down text-lg"></i>
            </button>
        </div>
    </div>
    
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <i class="fas fa-user text-2xl"></i>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:detail' request.user.username %}" class="justify-between">
                            {% translate "My Profile" %}
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a></li>
                {% else %}
                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                        <li><a id="sign-up-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a></li>
                    {% endif %}
                    <li><a id="log-in-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
