{% extends "base.html" %}

{% block content %}

<div class="container mx-auto p-4">
    <form method="post">
        {% csrf_token %}
        <h3 class="text-lg font-bold mb-2">Filtrar por estilo:</h3>
        <div class="mb-4 space-y-2">
            {% for tag in style_tags %}
                <div class="form-control">
                    <label class="label cursor-pointer justify-start">
                        <input type="checkbox" name="tags" value="{{ tag.id }}" id="style-{{ tag.id }}" class="checkbox checkbox-primary mr-3">
                        <span class="label-text">{{ tag.value }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <h3 class="text-lg font-bold mb-2">Filtrar por instrumento:</h3>
        <div class="mb-4 space-y-2">
            {% for tag in instrument_tags %}
                <div class="form-control">
                    <label class="label cursor-pointer justify-start">
                        <input type="checkbox" name="tags" value="{{ tag.id }}" id="instrument-{{ tag.id }}" class="checkbox checkbox-secondary mr-3">
                        <span class="label-text">{{ tag.value }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <input class="btn btn-primary" type="submit" value="Iniciar sesión de estudio">
    </form>

    {% if last_study_session %}
    <div id="continue-study-session" class="mt-6">
        <h3 class="text-lg font-bold mb-2">Última sesión de estudio no terminada:</h3>
        <p class="mb-4">{{ last_study_session }}</p>
        <!-- Puedes agregar un enlace para continuar con la última sesión de estudio si lo deseas -->
        <div class="flex gap-4 mt-4">
            <a class="btn btn-outline btn-info" href="{% url 'music_cards:study_session' study_session_id=last_study_session.id %}">Continuar con la última sesión</a>
            <button class="btn btn-outline btn-error"
                hx-get="{% url 'music_cards:finish_study_session' study_session_id=last_study_session.id %}"
                hx-trigger="click"
                hx-target="#continue-study-session"
                hx-swap="outerHTML"
            >Cerrar la última sesión</button>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}
