{% extends "_base.html" %}

{% block content %}

<div class="container mx-auto p-4">
    <form method="post">
        {% csrf_token %}
        <h3 class="text-lg font-bold mb-2">Filtrar por estilo:</h3>
        <div class="mb-4">
            {% for tag in style_tags %}
                <div class="flex items-center mb-2">
                    <input class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200" type="checkbox" name="tags" value="{{ tag.id }}" id="style-{{ tag.id }}">
                    <label class="ml-2 text-gray-700" for="style-{{ tag.id }}">{{ tag.value }}</label>
                </div>
            {% endfor %}
        </div>
        <h3 class="text-lg font-bold mb-2">Filtrar por instrumento:</h3>
        <div class="mb-4">
            {% for tag in instrument_tags %}
                <div class="flex items-center mb-2">
                    <input class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200" type="checkbox" name="tags" value="{{ tag.id }}" id="instrument-{{ tag.id }}">
                    <label class="ml-2 text-gray-700" for="instrument-{{ tag.id }}">{{ tag.value }}</label>
                </div>
            {% endfor %}
        </div>
        <input class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Iniciar sesión de estudio">
    </form>

    {% if last_study_session %}
    <div id="continue-study-session" class="mt-6">
        <h3 class="text-lg font-bold mb-2">Última sesión de estudio no terminada:</h3>
        <p class="mb-4">{{ last_study_session }}</p>
        <!-- Puedes agregar un enlace para continuar con la última sesión de estudio si lo deseas -->
        <a class="text-blue-500 hover:underline" href="{% url 'music_cards:study_session' study_session_id=last_study_session.id %}">Continuar con la última sesión</a>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2"
            hx-get="{% url 'music_cards:finish_study_session' study_session_id=last_study_session.id %}"
            hx-trigger="click"
            hx-target="#continue-study-session"
            hx-swap="outerHTML"
        >Cerrar la última sesión</button>
    </div>
    {% endif %}
</div>

{% endblock content %}
